data/config.json
data/config.py
data/config*
data/tags.json
data/cookies/*.txt
data/cookies/*.pkl
data/cookies/*.pickle
data/banned/*.*
bin/*
*.mkv
.vscode/
__pycache__/
tmp/*
.wdm/
.DS_Store
user-args.json
/.vs
data/nfos/*
data/*.json
.venv/
venv/
dist/
build/
logs/
resources/ffmpeg/
resources/mediainfo/
.appdata/*
third_party/Upload-Assistant/data/config.json
third_party/Upload-Assistant/data/config.py
third_party/Upload-Assistant/data/config*
third_party/Upload-Assistant/data/tags.json
third_party/Upload-Assistant/data/cookies/*.txt
third_party/Upload-Assistant/data/cookies/*.pkl
third_party/Upload-Assistant/data/cookies/*.pickle
third_party/Upload-Assistant/data/banned/*.*
third_party/Upload-Assistant/bin/mkbrr/*
third_party/Upload-Assistant/*.mkv
third_party/Upload-Assistant/.vscode/
third_party/Upload-Assistant/__pycache__/
third_party/Upload-Assistant/tmp/*
third_party/Upload-Assistant/.wdm/
third_party/Upload-Assistant/.DS_Store
third_party/Upload-Assistant/user-args.json
third_party/Upload-Assistant//.vs
third_party/Upload-Assistant/data/nfos/*
third_party/Upload-Assistant/data/*.json
third_party/Upload-Assistant/.venv/*
third_party/Upload-Assistant/venv/*